<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_save_after">
        <observer name="omnik_category_save" instance="Omnik\Core\Observer\CategorySave" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="omnik_product_save" instance="Omnik\Core\Observer\ProductSave" disabled="true"/>
    </event>
    <event name="catalog_block_product_list_collection">
        <observer instance="Omnik\Core\Observer\AfterLoadCollection" name="join_stock_table_in_product_collection"/>
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="Checkout_New_Add_Price" instance="Omnik\Core\Observer\PriceItemAfterCart" />
    </event>
    <event name="omnik_omnik_submit_order">
        <observer name="omnik_omnik_integration_sales_new" instance="Omnik\Core\Observer\IntegrationSalesOmnik"/>
    </event>

    <event name="sales_model_service_quote_submit_before">
        <observer name="omnik_splitorder_quote_sumbit_observer" instance="Omnik\Core\Observer\QuoteSubmit"/>
    </event>

    <event name="sales_order_save_after">
        <observer name="fc_sales_order_save_after" instance="Omnik\Core\Observer\ChangeChildStatus"/>
    </event>


    <event name="omnik_omnik_submit_orders">
        <observer name="omnik_omnik_submit_order_observer" instance="Omnik\Core\Observer\ClearFreightRate"/>
    </event>
    <event name="admin_system_config_changed_section_omnik_core">
        <observer name="omnik_core_config_save" instance="Omnik\Core\Observer\ConfigSaveObserver"/>
    </event>
</config>
